<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <input placeholder="descricao tarefa" [(ngModel)]="tarefa.nome">

  <select [(ngModel)]="tarefa.categoria">
    <option value="TO-DO" >TO-DO</option>
    <option value="DOING" >DOING</option>
    <option value="DONE" >DONE</option>
  </select>

  <button (click)="cadastrarTarefa()">Cadastrar</button>

  <div id="divPrincipal">

    <div id="todo">
      <h1>TO-DO</h1>
        <div *ngFor="let tarefa of tarefasTodo; index as indice">

          Tarefa {{indice+1}}: {{ tarefa.nome }} 

          <select [(ngModel)]="tarefa.categoria">
            <option value="TO-DO" >TO-DO</option>
            <option value="DOING" >DOING</option>
            <option value="DONE" >DONE</option>
          </select>
      
          <button (click)="removerTodo(indice)">Remover</button>
          <button (click)="alterar(tarefa, indice)">alterar</button>
      

        </div>
    </div>

    <br>

    <div id="doing">
      <h1>DOING</h1>
        <div *ngFor="let tarefa of tarefasDoing; index as indice">

          Tarefa {{indice+1}}: {{ tarefa.nome }} 

          <select [(ngModel)]="tarefa.categoria">
            <option value="TO-DO" >TO-DO</option>
            <option value="DOING" >DOING</option>
            <option value="DONE" >DONE</option>
          </select>
      
          <button (click)="removerDoing(indice)">Remover</button>
          <button (click)="alterar(tarefa, indice)">alterar</button>
          
        </div>
    </div>

    <div id="done">
      <h1>DONE</h1>
        <div *ngFor="let tarefa of tarefasDone; index as indice">

          Tarefa {{indice+1}}: {{ tarefa.nome }} 

          <select [(ngModel)]="tarefa.categoria">
            <option value="TO-DO" >TO-DO</option>
            <option value="DOING" >DOING</option>
            <option value="DONE" >DONE</option>
          </select>
      
          <button (click)="removerDone(indice)">Remover</button>
          <button (click)="alterar(tarefa, indice)">alterar</button>
          
      </div>
    </div>
    
  </div> 
  


</body>
</html>