    <hr>
        <h1 class="centralizar"> 
            cadastro de tarefas 
        </h1>
    <br>

    <div class="centralizar">
        <input type="text" placeholder="descricao tarefa" [(ngModel)]="descricaoTarefa">
        <select [(ngModel)]="categoriaSelecionada">
            <option *ngFor="let categoria of categoriasLista">
                {{categoria}}
            </option>
        </select>
        <button *ngIf="!tarefaEditando" (click)="cadastrarTarefa()">Cadastrar</button>
    </div>

    <br>
    <hr>

    <br>

    <div id="conteudo">
        <div id = "categorias" *ngFor="let categoria of categoriasLista" (dragover)="onDragOver(categoria)">

           <div class="centralizar"> 
                {{categoria}}
            </div>
            {{areaDeSoltar}}
            <hr>
           
            <div id="tarefa" *ngFor="let tarefa of getTarefas(categoria)" draggable="true" (dragend)="onDragEnd(tarefa)" (dragover)="pegarPosicao(tarefa)">

                {{tarefa.descricao}}
                <br>

                <div *ngFor="let propriedade of propriedadesLista">
                    <!-- rever isso aqui -->
                    {{propriedade.nome}}
                    <br>
                </div>

                <button id="remover" *ngIf="!tarefa.editando && tarefaEditando==null" (click)="removerTarefa(tarefa)">remover</button>
                <button id="editar" *ngIf="!tarefa.editando && tarefaEditando==null" (click)="editar(tarefa)">editar</button>
                <!-- se esta tarefa nao estiver em edicao e nhenhuma tarefa estar sendo editada pode-se remover ou editar -->

                <button id="salvar" *ngIf="tarefa.editando" (click)="salvar(tarefa)">salvar</button>
                <button id="cancelar" *ngIf="tarefa.editando" (click)="cancelar()">cancelar</button>

            </div>
        </div>
        
    </div>