<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Cadastro Tarefa</title>

</head>

<body>
    <hr>
        <h1 class="centralizar"> 
            cadastro de tarefas 
        </h1>
    <br>

    <div class="centralizar">
        <input type="text" placeholder="descricao tarefa" [(ngModel)]="descricaoTarefa">
        <select [(ngModel)]="categoriaSelecionada">
            <option *ngFor="let categoria of categoriasLista">
                {{categoria}}
            </option>
        </select>
        <button *ngIf="!editando" (click)="cadastrarTarefa()">Cadastrar</button>
    </div>

    <br>
    <hr>

    <br>

    <div id="conteudo">
        <div id = "categorias" *ngFor="let categoria of categoriasLista">
           <div class="centralizar"> 
                {{categoria}}
            </div>
            <hr>
            <div id="tarefa" *ngFor="let tarefa of getTarefas(categoria)">

                {{tarefa.descricao}}

                <button id="remover" *ngIf="!editando" (click)="removerTarefa(tarefa)">remover</button>
                <button id="editar" *ngIf="!editando" (click)="editar(tarefa)">editar</button>

                <button id="salvar" *ngIf="editando" (click)="salvar(tarefa)">salvar</button>
                <button id="cancelar" *ngIf="editando" (click)="cancelar()">cancelar</button>

            </div>
        </div>
        
    </div>


</body>

</html>