<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>cadastrar categoria</title>

</head>

<body>
    
    <h1 class ="centralizar">cadastro de categorias</h1>

    <div class ="centralizar">
        <input type="text" placeholder="nome da categoria" [(ngModel)]="nomeCategoria">

        <button (click)="cadastrarCategoria()">Cadastrar</button>
    </div>

    <div>
        <h2 class ="centralizar">
            Categorias cadastradas: 
        </h2>

        <div *ngFor="let categoria of categoriasLista">

            {{categoria}}

            <button (click)="removerCategoria(categoria)">
                remover
            </button>
        </div>
    </div>

</body>
</html>